NODE_ENV=development
HOST=localhost
PORT=3000
UNS_CLIENTID=
UNS_CLIENTSECRET=
UNS_REDIRECT_URI=
UNS_LOGOUT_REDIRECT_URI=
INFURA_API_KEY=
NEXTAUTH_URL=http://localhost:3000

HASURA_SECRET=
SECRET=150c644daac41d3f2e64d1f49e8b766
# Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

APPLE_ID=
APPLE_TEAM_ID=
APPLE_PRIVATE_KEY=
APPLE_KEY_ID=

AUTH0_ID=
AUTH0_SECRET=
AUTH0_DOMAIN=

FACEBOOK_ID=
FACEBOOK_SECRET=

GITHUB_ID=
GITHUB_SECRET=

GOOGLE_ID=
GOOGLE_SECRET=

TWITTER_ID=
TWITTER_SECRET=

EMAIL_SERVER=smtp://username:password@smtp.example.com.com:587
EMAIL_FROM=NextAuth <noreply@example.com>

DATABASE_URL=sqlite://localhost/:memory:?synchronize=true